@model sms.Models.MeasurementUnit

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MeasurementUnit</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeasurementUnitName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeasurementUnitName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubCategory.SubCategoryId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MeasurementUnitId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
